{% extends "portfolio_app/base_template.html" %}
{% load static %}

{% block title %}Computer Science Portfolios{% endblock %}
{% block content %}

<div class="container text-center">
  <div class="d-flex justify-content-center">
    <div class="row">
      {% for portfolio in portfolios %}
      <div class="col-auto">
        <div class="card" style="width: 18rem;">
          {% if portfolio.portfolio_image %}
          <img class="card-img-top" src="{{ portfolio.portfolio_image.url }}" alt="Card image cap">
          {% endif %}
          <div class="card-body">
            <h3 class="card-title">{{ portfolio.student.name }}</h3>
            <h6>{{ portfolio.title }}</h6>
            <p class="card-text">
              {{ portfolio.about|truncatewords:25 }}
            </p>
            <a href="{% url 'portfolio-detail' portfolio.id %}" class="btn btn-primary">
              Link to portfolio
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
